@font-face {
  font-family: "iconfont"; /* Project id 3279663 */
  src: url('iconfont.woff2?t=1653913632917') format('woff2'),
       url('iconfont.woff?t=1653913632917') format('woff'),
       url('iconfont.ttf?t=1653913632917') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kuaisushezhi:before {
  content: "\e795";
}

.icon-liebiao:before {
  content: "\ec6b";
}

.icon-icon-test:before {
  content: "\e64e";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon--:before {
  content: "\e600";
}

.icon-fangge:before {
  content: "\e662";
}

.icon-right:before {
  content: "\e601";
}

.icon-columns-full:before {
  content: "\ea37";
}

.icon-tuse:before {
  content: "\ea4a";
}

.icon-zhexian:before {
  content: "\ee57";
}

